<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiayiye.jetpackstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".livedata.LiveDataActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".savestatejava.SaveStateJavaActivity" />
        <activity android:name=".savestate.SaveStateActivity" />
        <activity android:name=".basketball.BasketballActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".navigation.viewmodel.NavigationViewModelActivity" />
        <activity android:name=".calculation.CalculationHomeActivity" />
        <activity android:name=".lifecycle.LifecycleTimeActivity" />
        <activity android:name=".bottomnavigation.BottomNavigationActivity" />
        <activity android:name=".gallery.GalleryActivity" />
    </application>

</manifest>
